@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: linear-gradient(to top, rgb(26, 26, 29)1%, rgba(20, 20, 29, 0.703)30%), url(../images/hero_desktop.jpg);
    background-size: cover;

    &__content {
        padding-top: 80px;
        max-width: 640px;
    }

    &__subtitle {
        padding-bottom: 40px;
    }
    
    &__title {
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 4px;

        .button {
            margin-top: 2vw;
            margin-bottom: 8px;
            cursor: pointer;
        }
    }
}