@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to top, variaveis.$corDeFundo 1%, #2626294d 30%), url(../images/hero_desktop.jpg);
    background-size: cover; 

    &__subtitle {
        padding-bottom: 40px;
    }
    
    &__title {
        font-size: 4rem;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }
}