@use 'variaveis';

.livro {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 5.6vw;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: top;
        gap: 40px;
        
        &__ficha {
            font-size: 1.25em;
            text-align: justify;

            h3 {
                color: variaveis.$corTextoSecundario;
                margin-bottom: 24px;
            }

            span{
                font-weight: bold;
                margin-right: 8px;
            }

            P {
                margin-bottom: 8px;
            }

        }

        &__image {
            height: 50vh;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}