@use 'hero';
@use 'leis';
@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: #262629;
    color: #fff;
    & a {
        color: #fff;
        text-decoration: none;
    }
}

// .container {
//     margin: 0 auto;
//     width: 100%;
//     max-width: 1024px;
// }

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
    padding: 4px 8px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
    }

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
        }
    }

    &--dark {
        background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}